<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PII Detection & Redaction Blazor App</a>
        <div class="navbar-nav ms-auto">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" class="nav-link">About</a>
        </div>
    </div>
</nav>

